<%= form_with model: post do |form| %>

	<div>
		<%= form.file_field :image %>
	</div>

	<div>
		<p>
			<%= form.label "add description"%>
		</p>

		<p>
			<%= form.text_area :description%>
		</p>

		<% post.errors.full_messages_for(:description).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
    <%= form.submit %>
  </div>

<p>
  <%= link_to "Back", post%>	
</p>

<% end %>
