<p><%= @post.description %></p>
<p><%= image_tag(@post.image_url(:thumb)) if @post.image? %></p>

<p>
	<%= link_to "Edit post", edit_post_path(@post) %>
</p>

<li>
	<p>	
		<%= button_to "Destroy", post_path(@post), method: :delete,
			data: {confirm: "are you sure?" }%>
	</p>
</li>


<h1> Comments </h1>
<ul>
	<% @post.comments.each do |comment| %>
		<li>
			<p>
				<strong> Commenter </strong>
				<%= comment.body %>
			</p>
		</li>

		<p>	
			<%= button_to "Destroy comment",[comment.post, comment], method: :delete,
				data: {confirm: "are you sure?" }%>
		</p>
	<% end %>
</ul>


<h1> Leave a comment</h1>

<%= form_with model: [@post, @post.comments.build] do |form| %>
	<p>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to "Back", posts_path%>
