<p><%= image_tag(@post.image_url(:thumb)) if @post.image? %></p>
<p>
	<strong> <%= @post.user.name %> </strong>
	<%= @post.description %>
</p>

<%= @post.likes.count %>

<% if @post.likes.where(user: current_user).present? %>
	<%= button_to 'Dislike',like_path(@post), method: :delete%>
<%else%>
	<%= button_to 'Like',likes_path(@post), method: :post%>
<%end%>

<% if current_user == @post.user %>
	<strong>
		<h3> <%= link_to "Edit post", edit_post_path(@post) %> </h3>
	</strong>
<% end %>

<li>
	<p>
		<% if current_user == @post.user %>	
			<%= button_to "DESTROY POST", post_path(@post), method: :delete%>
		<% end %>
	</p>
</li>


<h4> Comments </h4>


	<% @post.comments.each do |comment| %>
		<li>
			<p>
				<%= image_tag(comment.user.image_url(:thumb)) if comment.user.image?%>
				<strong> <%= comment.user.name %> </strong>
				<%= comment.body %>
			</p>
		</li>

		<% if current_user == comment.user%>
			<p>	
				<%= button_to "DESTROY COMMENT",[comment.post, comment], method: :delete%>
			</p>
		<% end %>
	<% end %>


<h4> Leave a comment</h4>

<%= form_with model: [@post, @post.comments.build] do |form| %>

  <p>	<%= form.text_area :body %>	</p>

	<p> <%= form.submit "CREATE COMMENT"%> </p>
<% end %>

<strong>
	<h3>
		<%if request.referer.include?('/posts')%>
			<%= link_to "BACK", posts_path%>
		<%else%>
			<%= link_to "BACK", @post.user%>
		<%end%>
	</h3>
</strong>

